- content_for :page_title do
  = t('auth.register')

- content_for :header_tags do
  = render partial: 'shared/og'

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

  - if @invite.present? && @invite.autofollow?
    .fields-group{ style: 'margin-bottom: 30px' }
      %p.hint{ style: 'text-align: center' }= t('invites.invited_by')
      = render 'authorize_follows/card', account: @invite.user.account
      
  %p.hint.subtle-hint=t('auth.agreement_html', rules_path: about_more_path, terms_path: terms_path)
.form-footer= render 'auth/shared/links'
