- content_for :page_title do
  = t('auth.login')

- content_for :header_tags do
  = render partial: 'shared/og'

- if devise_mapping.omniauthable? and resource_class.omniauth_providers.any?
  .simple_form.alternative-login
    %h4= t('auth.or_log_in_with')

    .actions
      - resource_class.omniauth_providers.each do |provider|
        = link_to omniauth_authorize_path(resource_name, provider), class: "button button-#{provider}" do
          = t("auth.providers.#{provider}", default: provider.to_s.chomp("_oauth2").capitalize)

.form-footer= render 'auth/shared/links'
